@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@200&family=Philosopher:ital,wght@0,700;1,700&display=swap');
// @import '@splidejs/react-splide/css';

// or other themes
// @import '@splidejs/react-splide/css/skyblue';
// @import '@splidejs/react-splide/css/sea-green';
// or only core styles
// @import '@splidejs/react-splide/css/core';

.MenuItem:active {
  background: #443d7f;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none!important;
}

$font-Poppins: 'Poppins', sans-serif;
$gradient: linear-gradient(90deg, rgba(131,58,180,1)0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);


@media (max-width: 1920px) {
    .info_art_all_part_info_part{
        width: 100%;
        height: auto;
            .top_art_all_part{
                width: 100%;
                height: auto;
                    h2{
                        color: #443d7f;
                        text-align: center;
                    }
            }
    }
}
